{% extends 'index.html' %}

{% block content %}
    <div class="form">
      <div class="header">
        <h4>Editar Anúncio</h4>
      </div>
      <form action="/anuncio/editar/{{ anuncio.id }}" method="post" id="form">
        <div class="form-group">
          <label for="nome">Titulo do anúncio</label>
          <input
            type="text"
            id="nome" name="nome"
            placeholder="Digite o título do anúncio" value="{{anuncio.nome}}"/>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <textarea type="text" id="descricao" name="descricao" placeholder="Digite uma descrição"/>{{anuncio.descricao}}</textarea>
        </div>
        <div class="form-group">
          <label for="qtde">Quantidade</label>
          <input type="text" id="qtde" name="qtde" placeholder="Digite a quantidade" value="{{anuncio.qtde}}" />
        </div>
        <div class="form-group">
          <label for="preco">Preço</label>
          <input type="text" id="preco" name="preco" placeholder="Digite o valor" value=" {{ "{:.2f}".format(anuncio.preco) }}" />
        </div>
        <div class="form-group">
          <label for="categ_id">Categoria</label>
          <select type="text" id="categ_id" name="categ_id" placeholder="Digite o ID da categoria" required>
            <option value="">Selecione uma categoria</option>
            {% for categoria in categorias %}
              <option selected value="{{categoria.id}}">{{categoria.nome}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="oferta">  
            Anúncio em Oferta: <input type="checkbox" value="{{anuncio.status_oferta}}" {% if anuncio.status_oferta == True %} checked {% endif %} id="status_oferta" name="status_oferta" >
        </div>
        <p></p>
        <div class="anuncio">
          Status Anúncio: <input type="checkbox" value="{{anuncio.status}}" {% if anuncio.status == True %} checked {% endif %} id="status" name="status"/>
        </div>
        <div class="botao">
          <button type="submit" class="float btn btn-sm btn-success">Salvar</button>
          <button type="reset" class="float btn btn-sm btn-warning">Limpar</button>
        </div>
      </form>
    </div>
{% endblock %}