{% extends 'index.html' %}

{% block content %}
  <div class="form col-md-4 col-md-offset-3">
    <div class="header">
      <h4>Chat</h4>
    </div>
    <div class="col-md-12">
      <p class="text-chat">{{anuncio.nome}} | {{anuncio.descricao}} | {{ "Preço: {:.2f}".format(anuncio.preco) }}</p>
    </div>

    <div>
      {% if pergunta %}
      {% for p in pergunta %}
      
      {% if p.per_pergunta != None %}
      <div>
        <p class="text-left"><b>{{ p.nome}}</b></p>
        <p class="text-left">{{ p.per_pergunta }}</p>        
      </div>
      {% endif %}
    
      {% if p.per_resposta != None %}
      <div>
        <p class="text-right"><b>{{ p.nome}}</b></p>
        <p class="text-right">{{ p.per_resposta }}</p>               
      </div>
      {% endif %}

      {% endfor %}
      {% endif %}
    </div>
    <form action="/anuncios/gravarpergunta/" method="post" id="form">
      <div class="form-group">
        
        <div>
          <textarea name="per_pergunta" id="per_pergunta" cols="30" rows="10">
          </textarea>  
        </div>
        <input type="hidden" id="id_anuncio" name="id_anuncio" value="{{anuncio.id}}" >
      </div>
      <div class="botao1">
        <button type="submit" class="float btn btn-sm btn-success">Enviar</button>
      </div>
    </form>
  </div>
{% endblock %}